body {
    box-sizing: border-box;
    margin: 0;
  padding: 0;
}
header {
  height: 150px;
  background-color: white;
  
}
label {
  font-size: 20px;
  
}
img {
  width: 150px;
  height: 150px;
  border-radius: 30px;
  margin-left: 100px;
  box-shadow: 0 0 25px 6px black;
  margin-top: 20px;
}
#pesquisa{
  margin-top: 30px;
margin-left: 40px;
}

.erro{
    background-color: yellow;
}
.hidden{
    display: none;
}
.card{
  margin-left: 40px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 5px;
  
  width: 400px;
  border: 1px solid black;
 
 
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 30px 5px black;
}